# Lab 9

_[General notebook information](https://computing-in-context.afeld.me/notebooks.html)_

The goal here is to practice [joining datasets through pandas](https://pandas.pydata.org/docs/user_guide/merging.html#merge). Hint: The instructions here are intentionally incomplete.

## Step 1

Find an NYC dataset with a borough column.

- Use [Scout](https://scout.tsdataclinic.com/explore/NYC) to filter by column name.
- Don't spend too long on this step.
- [Keep the dataset small](https://python-public-policy.afeld.me/en/columbia/assignments.html#reducing-data-size) (under 500,000-ish rows) to make it easier to work with.

**What's the URL of your dataset?**

YOUR RESPONSE HERE

## Step 2

Save and load the dataset.

In [1]:
import pandas as pd
project = pd.read_csv("2022_Annual_Sustainability_Project_Grant_20241031.csv")
project

FileNotFoundError: [Errno 2] No such file or directory: '2022_Annual_Sustainability_Project_Grant_20241031.csv'

## Step 3

Download and load the [Population by Borough](https://data.cityofnewyork.us/City-Government/New-York-City-Population-by-Borough-1950-2040/xywu-7bv9) dataset.

In [2]:
population = pd.read_csv("New_York_City_Population_by_Borough__1950_-_2040_20241031.csv")
population

,Age Group,Borough,1950,1950 - Boro share of NYC total,1960,1960 - Boro share of NYC total,1970,1970 - Boro share of NYC total,1980,1980 - Boro share of NYC total,...,2000,2000 - Boro share of NYC total,2010,2010 - Boro share of NYC total,2020,2020 - Boro share of NYC total,2030,2030 - Boro share of NYC total,2040,2040 - Boro share of NYC total
0,Total Population,NYC Total,7891957,100.00,7781984,100.00,7894862,100.00,7071639,100.00,...,8008278,100.00,8242624,100.00,8550971,100.00,8821027,100.00,9025145,100.00
1,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,1332650,16.64,1385108,16.80,1446788,16.92,1518998,17.22,1579245,17.50
2,Total Population,Brooklyn,2738175,34.70,2627319,33.76,2602012,32.96,2230936,31.55,...,2465326,30.78,2552911,30.97,2648452,30.97,2754009,31.22,2840525,31.47
3,Total Population,Manhattan,1960101,24.84,1698281,21.82,1539233,19.50,1428285,20.20,...,1537195,19.20,1585873,19.24,1638281,19.16,1676720,19.01,1691617,18.74
4,Total Population,Queens,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,2229379,27.84,2250002,27.30,2330295,27.25,2373551,26.91,2412649,26.73
5,Total Population,Staten Island,191555,2.43,221991,2.85,295443,3.74,352121,4.98,...,443728,5.54,468730,5.69,487155,5.70,497749,5.64,501109,5.55

## Step 4

Use [`merge()`](https://pandas.pydata.org/docs/user_guide/merging.html#merge) to combine the two, and output the resulting table.

In [3]:
population["Borough"] = population["Borough"].astype(str).str.strip()
project["Borough"] = project["Borough"].astype(str).str.strip()

merged = pd.merge(population,project,on = "Borough", how = "inner")
merged

,Age Group,Borough,1950,1950 - Boro share of NYC total,1960,1960 - Boro share of NYC total,1970,1970 - Boro share of NYC total,1980,1980 - Boro share of NYC total,...,2010 - Boro share of NYC total,2020,2020 - Boro share of NYC total,2030,2030 - Boro share of NYC total,2040,2040 - Boro share of NYC total,School Name,DBN,Grant Category
0,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,16.80,1446788,16.92,1518998,17.22,1579245,17.50,Accion Academy,12X341,Gardening & Outdoor Learning
1,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,16.80,1446788,16.92,1518998,17.22,1579245,17.50,Arturo A. Schomburg Satellite Academy Bronx,12X446,Green Team Supports
2,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,16.80,1446788,16.92,1518998,17.22,1579245,17.50,Astor Collegiate Academy,11X299,Gardening & Outdoor Learning
3,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,16.80,1446788,16.92,1518998,17.22,1579245,17.50,Bedford Park Elementary School,10X077,Gardening & Outdoor Learning
4,Total Population,Bronx,1451277,18.39,1424815,18.31,1471701,18.64,1168972,16.53,...,16.80,1446788,16.92,1518998,17.22,1579245,17.50,Bronx Center for Science and Mathematics,09X260,Gardening & Outdoor Learning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Total Population,Queens,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,27.30,2330295,27.25,2373551,26.91,2412649,26.73,P.S. Q233,75Q233,Gardening & Outdoor Learning
113,Total Population,Queens,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,27.30,2330295,27.25,2373551,26.91,2412649,26.73,P.S. Q811,75Q811,Gardening & Outdoor Learning
114,Total Population,Queens,1550849,19.65,1809578,23.25,1986473,25.16,1891325,26.75,...,27.30,2330295,27.25,2373551,26.91,2412649,26.73,Pioneer Academy,24Q307,Gardening & Outdoor Learning
115,Total Population,Staten Island,191555,2.43,221991,2.85,295443,3.74,352121,4.98,...,5.69,487155,5.70,497749,5.64,501109,5.55,P.S. 013 M. L. Lindemeyer,31R013,Gardening & Outdoor Learning
116,Total Population,Staten Island,191555,2.43,221991,2.85,295443,3.74,352121,4.98,...,5.69,487155,5.70,497749,5.64,501109,5.55,P.S. 045 John Tyler,31R045,Green Team Supports

## Step 5

Using the two datasets above, use pandas to produce an aggregate per-capita statistic by borough.

The dataset you chose before may not work for this. That's fine, pick another.

### Hint

You're creating a "number of [thing] per capita by borough" table.

1. Do a [`groupby()`](https://pandas.pydata.org/docs/user_guide/groupby.html) on the original dataset.
1. Join with the populations by borough.
1. Compute the per-capita values as a new column.

In [13]:
project_counts = project.groupby('Borough').size()
project_counts

Borough
Bronx            40
Brooklyn         42
Manhattan        21
Queens           12
Staten Island     2
dtype: int64

In [16]:
project_counts_df = project_counts.to_frame(name = "Project Count")
project_counts_df

               Project Count
Borough
Bronx                     40
Brooklyn                  42
Manhattan                 21
Queens                    12
Staten Island              2

In [18]:
project_counts_df = project_counts.reset_index(name = "Project Count")
project_counts_df

         Borough  Project Count
0          Bronx             40
1       Brooklyn             42
2      Manhattan             21
3         Queens             12
4  Staten Island              2

In [1]:
merged_data = pd.merge(project_counts_df, population[['Borough', '2020']], on='Borough', how='inner')
merged_data['Granted Projects per Capita'] = merged_data['Project Count'] / merged_data['2020']
merged_data

NameError: name 'pd' is not defined

## Step 6

Submit via Gradescope.